## **Tugas Pendahuluan 05**
### *Problem 1*
#### Praktikum Pengenalan Komputasi: Stream Programming
- NIM/Nama  : 19623116/Zulfaqqar Nayaka Athadiansyah
- Tanggal   : 7 November 2023
- Deskripsi : Jupyter Notebook untuk Problem 1

In [1]:
#include <pandas>
import pandas as ꦥꦤ꧀ꦢ

# Membaca data csv dengan Pandas
ꦩꦥ꦳ꦶꦏꦶ = ꦥꦤ꧀ꦢ.read_csv("H05.csv")

# Kamus
# ꦩꦥ꦳ꦶꦏꦶ: Dataframe

1. Banyaknya data.

In [2]:
print(f"Banyaknya data adalah {len(ꦩꦥ꦳ꦶꦏꦶ)}.")

Banyaknya data adalah 5135.

 2. 10 data pertama.

In [3]:
# Mencetak data dari indeks ke-0 hingga indeks ke-9
ꦩꦥ꦳ꦶꦏꦶ[:10]
# Indeks data dimulai dari 0

                             nama fakultas  nilai_mat  nilai_kim  nilai_fis
0            Farhan Fathur Rahman    FMIPA      57.21      34.14      38.93
1                  Steven Margono    FMIPA      67.43      51.50      57.20
2                    Ryan Sentosa    SAPPK      90.62      37.38      40.73
3            Muhajah Babny Muslim    FMIPA      72.31      38.80      44.79
4                Alvin Natawiguna     FTSL      65.45      57.67      56.39
5                   Sasti Safitri     FTSL      60.58      41.91      51.55
6             Dani Yulianto Putra     FTSL      51.67      35.05      48.69
7  Nabila Febitsukarizky Bunyamin     FTTM      71.66      67.61      69.75
8             Ratna Siti Khodijah      FTI      73.06      59.16      59.48
9                    Gita Partiwi     FTSL      69.57      38.84      48.17

3. Data ke 50 sampai 60 (inklusif: data ke-50, data ke-51, . . . , data ke-60).

In [4]:
# Mencetak data dari indeks ke-49 hingga indeks ke-59
ꦩꦥ꦳ꦶꦏꦶ[49:60]
# Indeks data dimulai dari 0

                        nama fakultas  nilai_mat  nilai_kim  nilai_fis
49      Alief Rizky Ramadhan    SITHS      84.59      42.44      40.48
50      Arief Syakur Sutedjo     FTTM      84.40      61.21      73.91
51         Fayi Raihan Saleh    FMIPA      60.62      32.57      42.34
52          Erna Kristiawati      FTI      67.48      46.78      52.30
53                    Albert    SAPPK      70.27      50.10      54.01
54  M Jazztyan Indra Pradana     STEI      53.40      43.06      60.30
55      Moch Ginanjar Busiri    FMIPA      74.29      38.44      49.15
56              Aisya Tamara     FITB      71.49      35.86      37.41
57        Tyas Arum Widayati    SAPPK      68.57      37.02      53.25
58                Arif Saleh      FTI     100.00      59.79      55.33
59     Windy Diwita Nisaekti      FTI      67.15      57.72      54.24

4. Banyaknya mahasiswa tiap fakultas.

In [8]:
print(ꦩꦥ꦳ꦶꦏꦶ['fakultas'].value_counts().to_string())

fakultas
FTI      834
STEI     777
FTSL     660
FMIPA    627
FTTM     579
FTMD     480
FITB     403
SAPPK    315
SITHR    282
SITHS    178

5. Nilai korelasi antara nilai fisika dan kimia. Apakah berkorelasi lurus, terbalik, atau tidak berkolerasi? Jelaskan.

In [6]:
# Menghitung nilai korelasi antara nilai fisika dan nilai kimia
corr        = ꦩꦥ꦳ꦶꦏꦶ['nilai_fis'].corr(ꦩꦥ꦳ꦶꦏꦶ['nilai_kim'])

# Menentukan penjelasan korelasi data berdasarkan nilai korelasinya
explanation = ""
if corr == 0:
    explanation = "Kedua nilai tidak berkorelasi karena nilai korelasinya 0."
elif corr < 0: # abaikan kasus corr < -1
    if corr == -1:
        explanation = "Kedua nilai berbanding terbalik karena nilai korelasinya -1."
    else: # -1 < corr < 0
        explanation = "Kedua nilai cenderung berbanding terbalik karena nilai korelasinya negatif."
else: # corr > 0, abaikan kasus corr > 1
    if corr == 1:
        explanation = "Kedua nilai berbanding lurus karena nilai korelasinya 1."
    else: # 0 < corr < 1
        explanation = "Kedua nilai cenderung berbanding lurus karena nilai korelasinya positif."

print(f"Nilai korelasi antara nilai fisika dan kimia adalah {corr}.")
print(explanation)
# Nilai korelasinya 0.7988187423880274 sehingga bisa dikatakan berbanding lurus cukup kuat.

Nilai korelasi antara nilai fisika dan kimia adalah 0.7988187423880274.
Kedua nilai cenderung berbanding lurus karena nilai korelasinya positif.

Semoga AC :D

Semangat mengkoreksi, Kak Asprak!

~ Nayaka Ganteng